body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #cfeac2;
}

h2.subtitle {
  margin-top: -40px;
}

#banner {
  background-color: white;
  background-image:url(http://www.warrenphotographic.co.uk/photography/bigs/26159-Six-baby-rabbits-white-background.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
}

.container {
  width: 90%;
  float: right;
}

.column {
  width: 30%;
  float: left;
  margin-left: .5%;
  margin-right: .5%;
  text-align: center;
  background-color: #deefd6;
  padding: 1%;
  line-height: 1.25em;
  /*border: 2px solid red;*/
}

.column img {
  width: 100%;
  border-radius: 50px 150px;
}

.column h2 {
  font-size: 36px;
}

.caption {
  font-style: italic;
  font-weight: lighter;
  color: #696969;
}

.important {
  font-weight: bold;
}

h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 72px;
}

h2 {
  font-family: 'Architects Daughter', cursive;
}



h1, h2 {
  text-align: center;
}


/******Toggle Dark and Light Background********/
.dark-background {
  background-color: #003200;
  color: white;
}

.dark-background .column {
  color: black;
}

.light-background {
  background-color: #cfeac2;
  color: black;
}

.toggle-light, .toggle-dark {
  cursor: pointer;
  color: green;
  text-align: center;
}

.toggle-light:hover, .toggle-dark:hover {
  text-decoration: underline;
}






/******Media Queries*******/
@media screen and (min-width: 1800px) {
  .column p{
    font-size: 24px;
    line-height: 1.5em;
  }
  h2.subtitle {
    font-size: 40px;
    padding-left: 400px;
  }

  h1{
    font-size:90px;
  }

  h1, h2.subtitle {
    text-align: left;
    margin-left: 30px;
  }
}

@media screen and (max-width: 916px){
  .column {
    float: none;
    width: 85%;
    margin: 0 auto 20px;


  }
}
