body {
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.25em;
  background-color: #cfeac2;
}

#banner {
  background-image:url(http://www.warrenphotographic.co.uk/photography/bigs/26159-Six-baby-rabbits-white-background.jpg);
  background-position: center;
  background-size: 100%;
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
}

.container {
  width: 90%;
  float: right;
}

.column {
  width: 30%;
  float: left;
  margin-left: .5%;
  margin-right: .5%;
  text-align: center;
  background-color: #deefd6;
  padding: 1%;
}

.column img {
  width: 100%;
  border-radius: 50px 150px;
}

.column h2 {
  font-size: 36px;
}

.caption {
  font-style: italic;
  font-weight: lighter;
  color: #696969;
}

.important {
  font-weight: bold;
}

h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 72px;
}

h2 {
  font-family: 'Architects Daughter', cursive;
}

h1, h2 {
  text-align: center;
}
